{% extends "PokeDex/PokeDex_base.html" %}

{% load static %}

{% block title %} PokeDex {% endblock %}

{% block header %} <h1>Add Pokémon to PokeDex</h1> {% endblock %}

{% block content %}

    <div id="form-container" class="table-responsive table-sm mx-auto" style= "padding-top: 90px;">
        <form method="post" action="">
            {% csrf_token %}
                <table id="table" class="table table-secondary table-bordered table-hover text-center" style="width: 30%; margin: auto;">
                    {{ form.as_table }}
                </table>
            <br>
            <button type="submit" class="btn btn-info btn-sm btn-block w-25 mx-auto"><p style="font-size: 15px;">Add to PokeDex</p></button>
        </form>
    </div>
{% endblock %}